rest-war/src/main/wadl/xsd0.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="account" type="account"/>

  <xs:complexType name="account">
    <xs:sequence>
      <xs:element name="businessIdentifierCode" type="xs:string" minOccurs="0"/>
      <xs:element name="iban" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

